.photoDivCss {
   position: fixed; 
   width:  600px; 
   height: 300px; 
   top:    200px;  
   left:   150px; 
   z-index: 10;
   border-style: solid;
   border-width: 1px;
   border-radius: 5px;
   background-color: white;
}

.photoFrameCss {
   width:  590px;
   height: 390px;
   border: none;
}
